*{
    font-family: "Roboto", sans-serif;
}
header{
    position: relative;
}
nav{
    
    height: 53px;
    background: #212121;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px 15px 71px;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.menu .menu_link{
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}
.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 48px;
}
.sub_header{
    position: absolute;
    width: 100%;
    height: 87px;
    background: rgba(0, 0, 0, .6);
    mix-blend-mode: normal;
    
}
.sub_header .sub_header_logo{
    display: block;
    max-width: 100%;
    margin-top: 19px;

}
.sub_header .sub_header_official{
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
}
.sub_header .sub_header_call{
    margin-top: 22px;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    text-align: right;
}
.sub_header .sub_header_phone{
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
}
.sub_header .sub_header_btn{
    margin-top: 22px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo{
    min-height: 800px;
    background: url("../img/bg/uber_bg.jpg") center center/cover no-repeat;
    padding: 150px 0 135px 0;
}
.promo .promo_header{
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
    text-align: center;
}
.promo .promo_subheader{
    font-weight: 900;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}
.promo .promo_descr{
    margin-top: 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.promo .promo_btn{
    display: block;
    margin: 115px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: normal;
    font-size: 18px;
    line-height: 63px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
/* section.advantages{
    padding-bottom: 64px;
}
.advantages_title{
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    width: 115px;
    height: 27px;
    background: #000000;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    padding-top: 8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.advantages .advantages_big_title{
    margin-top: 33px;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}
.advantages .row{
    margin-top: 16px;
}
.advantages .round{
    
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.advantages .round img{
    
 
}
.advantages .advantages_items{
    text-align: center;
    
}
.advantages .advantages_descr span{
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;

}
.advantages .col-4{
    min-height: 150px;
} */
section.reasons{
    margin-top: 24px;
    padding-bottom: 64px;
}
.label{
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}
.title{
    margin-top: 33px;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}
.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
section.reasons .reasons_round{
    display: flex;
    border-radius: 100%;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    margin: 0 auto;
    justify-content: center;
    align-items:center;
    margin-right: 26px;
}
.reasons .reasons_block .reasons_descr {
    width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}



